/* footer.css */
.footer-container {
    background-color: #003366; /* Example color */
    color: white;
}

.slds-text-heading_label {
    color: #FFFFFF;
    padding-bottom: 1rem;
}

ul.slds-list_vertical-space > li {
    padding: 0.25rem 0;
}

.payment-logos {
    /* add your styling here */
}
